{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<title>blog app</title>
</head>
<body>
<div class="page-header">
    <h1><a href="/">my first blog</a></h1>
</div>
{% for post in posts %}
<div>
    <h1><a href="#">{{ post.title }}<a/></h1>
    <p>{{post.text}}</p>
    <p> post was created by {{post.author}} at {{post.created_date}}</p>
</div>

{% endfor %}

</body>
</html>